body {
    --mat-row-odd-bg-color: #fff;
    --mat-row-even-bg-color: #fcfcfc;
    --mat-row-txt-color: #676767;
    --mat-header-row-bg-color: #e43927;
    --mat-header-row-txt-color: #fff;
    --mat-row-hover-bg-color: #e8e8e8;
    --mat-row-hover-txt-color: #676767;
    --table-pagination-disabled-color: #949c9e;
  }
  
  .clinic-table {
    .mat-row {
      height: 70px;
      &:nth-child(odd) {
        background-color: var(--mat-row-odd-bg-color);
      }
      &:nth-child(even) {
        background-color: var(--mat-row-even-bg-color);
      }
      &:hover {
        background-color: var(--mat-row-hover-bg-color);
        td {
          color: var(--mat-row-hover-txt-color);
        }
      }
    }
  
    .mat-header-row {
      background-color: var(--mat-header-row-bg-color);
      height: 35px;
  
      .mat-header-cell {
        color: var(--mat-header-row-txt-color);
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
  
  /* th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    padding-right: 15px;
  } */
  /* 
  table:not(.mat-calendar-table, .ngx-mat-timepicker-table) {
    tr {
      color: var(--mat-row-txt-color);
      & > td {
        flex: 1;
      }
      &:nth-child(odd) {
        background-color: var(--mat-row-odd-bg-color);
      }
      &:nth-child(even) {
        background-color: var(--mat-row-even-bg-color);
      }
      &:hover {
        background-color: var(--mat-row-hover-bg-color);
        color: var(--mat-row-hover-txt-color);
      }
    }
  }
   */
  