mat-cell {
  font-size: 13px;
  letter-spacing: 0.9px;
  font-weight: normal;
}

@media (max-width: 480px) {
  mat-header-cell {
    font-size: 9px !important;
    font-weight: 200 !important;
    padding-right: 24px;
  }

  mat-cell {
    font-size: 9px;
    letter-spacing: normal;
    word-break: break-all;
    padding-right: 24px;

    img {
      max-width: 20px;
    }
  }
}
.form-icon {
  width: 50px;
  height: 50px;
}

.clinic-table {
  width: 100%;

  & .name {
    width: 37%;
  }
  td {
    position: relative;
    border-right-width: 1px;
    border-right-style: solid;

    & b {
      position: absolute;
      left: 86px;
      bottom: 20px;
    }
  }
}
