{
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "arrowParens": "always",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "filepath": "",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "overrides": [],
  "plugins": [],
  "pluginSearchDirs": [],
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "vueIndentScriptAndStyle": false,
  "printWidth": 120,
  "trailingComma": "all"
}